.multiple-choice,
.correct-choice {
  border-radius: 15px;
  color: var(--light-accent-color);
  background: var(--text-color);
  font-family: "Fugaz One", cursive;
  border: none;
  text-align: center;
  margin: 0.25em;
  min-width: 15em;
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
}

.multiple-choice:hover {
  color: var(--text-color);
  background-image: url(./assets/halftone-yellow.png);
  background-size: 700px;
}

.multiple-choice:focus,
.multiple-choice:active,
.correct-choice:focus,
.correct-choice:active {
  outline: none;
}

.answer-container {
  margin: 0.75em;
}

/* 
*
MEDIA QUERIES
*
*/

@media (min-width: 1900px) {
  .multiple-choice,
  .correct-choice {
    font-size: 1.8rem;
  }
}

@media (max-width: 950px) {
  .multiple-choice,
  .correct-choice {
    font-size: 1.1rem;
  }
}

@media (max-height: 750px) and (max-width: 725px) {
  .multiple-choice,
  .correct-choice {
    font-size: 1rem;
  }
}

@media (max-height: 575px) and (max-width: 725px) {
  .multiple-choice,
  .correct-choice {
    font-size: 0.75rem;
  }
}
