/* TYPOGRAPHY */

.title {
  margin-bottom: 7rem;
}

.title-text {
  text-align: center;
  font-family: "Fugaz One", cursive;
  font-size: 4.5rem;
  color: var(--text-color);
}

/* BUTTONS */

.start-button {
  border: none;
  font-family: "Fugaz One", cursive;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 2rem;
  background: var(--text-color);
  color: var(--light-accent-color);
}

.start-button:focus,
.start-button:hover {
  background-image: url("../../assets/halftone-yellow.png");
  background-size: 700px;
  color: var(--text-color);
  outline: none;
}

/* LAYOUT */

.start-page-container {
  background-color: var(--light-accent-color);
  border-radius: 5px;
  height: 90vh;
  padding: 8rem;
}

/* MEDIA QUERIES */
