/* TYPOGRAPHY */

.title-text {
  text-align: center;
  font-family: "Fugaz One", cursive;
  font-size: 2.5rem;
  color: var(--text-color);
}

/* BUTTONS */

.start-button {
  border: none;
  font-family: "Fugaz One", cursive;
  padding: 0.75em 1.25em;
  border-radius: 5px;
  font-size: 1.25rem;
  background: var(--text-color);
  color: var(--light-accent-color);
  outline: none;
  cursor: pointer;
}

.start-button:hover {
  background-image: url(../../assets/halftone-yellow.png);
  background-size: 700px;
  color: var(--text-color);
  outline: none;
}

.start-button:focus {
  outline: none;
}

/* LAYOUT */

.page-container {
  background-color: var(--light-accent-color);
  border-radius: 5px;

  height: 94vh;
  margin: 3vh;
  margin-bottom: 0;
  padding: 1em;
}

.start-page-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 92%;
}

/* MISC */

.nav-bar {
  text-align: right;
  height: 8%;
}

.nav-icon {
  color: var(--text-color);
}

.nav-icon:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.nav-icon:active {
  outline: none;
  cursor: pointer;
}

/* 
*
MEDIA QUERIES
*
*/

@media (min-width: 400px) {
  .title-text {
    font-size: calc(3rem + 1.25vw);
  }

  .start-button {
    font-size: calc(1.5rem + 0.4vw);
  }
}
