/* TYPOGRAPHY */

.score-info {
  font-size: 1.25rem;
}

/* BUTTONS */

/* IMAGES */

.dog-image {
  background-color: var(--background-color);
  margin: auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  border: 10px solid var(--text-color);
}

/* LAYOUT */

.game-page-main {
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

/* MISC */

.arrow-icon {
  cursor: pointer;
  color: var(--text-color);
  /* margin-left: 0.5em; */
  /* background: red; */
}

.arrow-icon:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.arrow-icon:active {
  outline: none;
  cursor: pointer;
}
/* 
@media (max-width: 400px) {
  .game-page-main {
    flex-direction: column;
  }
} */
