/* TYPOGRAPHY */

.score-info {
  font-size: 1.25rem;
}

/* BUTTONS */

/* IMAGES */

.dog-image {
  background-color: var(--text-color);
  margin: auto;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 15px;
  border: 10px solid var(--text-color);
}

/* LAYOUT */

.game-page-main {
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-items: center;
}

/* MISC */

.arrow-icon {
  cursor: pointer;
  color: var(--text-color);
  font-size: 4rem;
}

.arrow-icon:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.arrow-icon:active {
  outline: none;
  cursor: pointer;
}

/* 
*
MEDIA QUERIES
*
*/

@media (min-width: 1900px) {
  .dog-image {
    width: 28rem;
    height: 28rem;
  }
}

@media (max-width: 950px) {
  .dog-image {
    width: 18rem;
    height: 18rem;
  }

  .arrow-icon,
  .nav-icon {
    font-size: 2.5rem;
  }
}

@media (max-width: 725px) {
  .game-page-main {
    flex-direction: column;
    margin: 1rem;
  }
}

@media (max-height: 750px) and (max-width: 725px) {
  .dog-image {
    width: 15rem;
    height: 15rem;
  }
  .score-info {
    font-size: 1.1rem;
  }

  .arrow-icon,
  .nav-icon {
    font-size: 2.1rem;
  }
}

@media (max-height: 575px) and (max-width: 725px) {
  .dog-image {
    width: 13rem;
    height: 13rem;
  }

  .score-info {
    font-size: 0.9rem;
  }

  .arrow-icon,
  .nav-icon {
    font-size: 1.9rem;
  }
}
