* {
  box-sizing: border-box;
}

:root {
  --background-color: #fedb65;
  --light-accent-color: #f2efea;
  --text-color: #393e41;
  --accent-color: #4f5d75;

  --neutral-color: #a6a6a8;
}

body {
  background-image: url(./assets/halftone-yellow.png);
  background-size: 700px;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: var(--text-color);
}

.photoContainer {
  /* background-color: #fff2df; */
  width: 25%;
  min-width: 300px;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
}

.errorMessage {
  margin: 0;
}

.signature {
  text-decoration: none;
  text-align: center;
  color: var(--text-color);

  font-size: 0.8rem;
}
